---
layout: page
title: "Archivo"
keywords: "Antonio, Antonio Villamarin, Antonio Villamarin Bajo, Zeura, Zeura Netowrk"
description: "Archivo del blog de Antonio Villamarín, un blog más de internet."
---

      <article>
         {% for post in site.posts %}
        <section>
            <header>
              {% unless post.next %}
                <h3>{{ post.date | date: '%Y' }}</h3>
              {% else %}
                {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                {% if year != nyear %}
                  <h3>{{ post.date | date: '%Y' }}</h3>
                {% endif %}
              {% endunless %}
          </header>
          <article class="clearfix">
            <ul>
              <li><span class="small">{{ post.date | date: "%d.%m.%Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
            </ul>   
          </article>
        </section>
        {% endfor %}
      </article>
