---
layout: gridcss
title: "Antonio | ant.onio.org"
keywords: "Antonio, Antonio Villamarin, Antonio Villamarin Bajo, Zeura, Zeura Netowrk"
description: "Blog de Antonio Villamarín, un blog más de internet."
message: "En estos momentos estoy trabajando en el blog; actualizando posts, retoques de diseño y cambios en algunos fichero, por lo que puede ser que la información falle o no esté completa. Disculpa las molestias."
---
			{% for post in site.posts %}
			<section>
				<header>
					<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					<p class="small">{{ post.date | date: "%d.%m.%Y" }}</p>
				</header>
				<article>
					{% if post.image != null %}
						<img src="/assets/images/{{ post.image }}" class="float-left thumb" />
					{% endif %}
					{{ post.content | truncatewords : '50' }}
					<p><span class="tag"><a href="{{ post.url }}" class="">Continuar leyendo...</a></span></p>				
				</article>
			</section>	
			{% endfor %}
			<div id="post-pagination" class="pagination">

  {% if paginator.previous_page %}
  <p class="previous">
    {% if paginator.previous_page == 1 %}
    <a href="/">Anteriores</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">Anteriores</a>
    {% endif %}
  </p>
  {% else %}
  <p class="previous disabled">
    <span>Anteriores</span>
  </p>
  {% endif %}

  <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
    <li class="page">
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if paginator.next_page %}
  <p class="next">
    <a href="/page{{paginator.next_page}}">Siguientes</a>
  </p>
  {% else %}
  <p class="next disabled">
    <span>Siguientes</span>
  </p>
  {% endif %}

</div>