		<a href="//github.com/villamarin"><img src="/assets/images/icons/Github.png" /></a>
		<a href="//twitter.com/antvillamarin"><img src="/assets/images/icons/Twitter.png" /></a>
		<!-- <span class="author vcard"><a rel="author" href="//plus.google.com/114899077462139891523" class="url fn"><img src="/assets/images/icons/GooglePlus.png" /></a></span>
		<a href="//www.facebook.com/villamarin"><img src="/assets/images/icons/Facebook.png" /></a>
		<a href="//www.linkedin.com/in/villamarin"><img src="/assets/images/icons/LinkedIn.png" /></a>
		<a href="//feeds.feedburner.com/AntonioVillamarin"><img src="/assets/images/icons/Feed.png"/></a>
		<a href="http://www.safecreative.org/userfeed/1302160074501" target="ccb0117a-c690-3676-aaac-6bb847dffd91"><img src="http://resources.safecreative.org/userfeed/1302160074501/label/logo2-150" style="width:36px;position:relative;bottom:-1px;left:-3px;" alt="Safe Creative #1302160074501"/></a> -->

		<h4>Info</h4>
		<ul>
			<li><a href="/sobre-mi.html">Sobre mí</a></li>
		</ul>

		<h4>Proyectos</h4>
		<ul>
			<li><a href="//www.gridcss.com">Grid CSS</a></li>
			<li><a href="//notify.gridcss.com">JQuery Notify</a></li>
			<li><a href="//www.phpencode.org">PHP Obfuscator</a></li>
		</ul>

		<h4>Blogs que sigo</h4>
		<ul>
			<li><a href="//www.domisfera.com">Domisfera</a></li>
			<li><a href="//www.cristalab.com">Cristalab</a></li>
			<li><a href="//www.rm-rf.es">rm -Rf</a></li>
			<li><a href="//www.catswhocode.com">Cats Who Code</a></li>
			<li><a href="//davidwalsh.name/">David Walsh</a></li>
			<li><a href="//smashinghub.com/">Smashing Hub</a></li>
			<li><a href="//gaussianos.com/">Gaussianos</a></li>
			<li><a href="//pixelcoblog.com//">Pixel Co</a></li>
			<li><a href="//wwwhatsnew.com/">WWWhats new</a></li>
		</ul>

		<h4>Suscripción RSS</h4>
		<ul>
			<li><a href="//feeds.feedburner.com/AntonioVillamarin"><img src="http://feeds.feedburner.com/~fc/AntonioVillamarin?bg=FFFFFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></li>
		</ul>
