		<h4>Info</h4>
          <ul>
            <li><a href="/sobre-mi.html">Sobre mí</a></li>
          </ul>
          <h4>Proyectos</h4>
          <ul>
            <li><a href="//www.gridcss.com">Grid CSS</a></li>
            <li><a href="//notify.gridcss.com">JQuery Notify</a></li>
             <li><a href="//www.phpencode.org">PHP Obfuscator</a></li>
          </ul>
		<h4>Blogs que sigo</h4>
		<ul>
			<li><a href="//www.domisfera.com">Domisfera</a></li>
			<li><a href="//www.cristalab.com">Cristalab</a></li>
			<li><a href="//www.rm-rf.es">rm -Rf</a></li>
			<li><a href="//www.catswhocode.com">Cats Who Code</a></li>
			<li><a href="//davidwalsh.name/">David Walsh</a></li>
			<li><a href="//smashinghub.com/">Smashing Hub</a></li>
			<li><a href="//gaussianos.com/">Gaussianos</a></li>
			<li><a href="//pixelcoblog.com//">Pixel Co</a></li>
			<li><a href="//wwwhatsnew.com/">WWWhats new</a></li>
		</ul>
