		<h4>Proyectos</h4>
		<ul>
			<li><a href="//www.gridcss.com">Grid CSS</a></li>
			<li><a href="//notify.gridcss.com">JQuery Notify</a></li>
			<li><a href="//www.phpencode.org">PHP Obfuscator</a></li>
		</ul>

		<h4>Sigo a</h4>
		<ul>
			<li><a href="//www.domisfera.com">Domisfera</a></li>
			<li><a href="//www.cristalab.com">Cristalab</a></li>
			<li><a href="//www.rm-rf.es">rm -Rf</a></li>
			<li><a href="//www.catswhocode.com">Cats Who Code</a></li>
			<li><a href="//davidwalsh.name/">David Walsh</a></li>
			<li><a href="//smashinghub.com/">Smashing Hub</a></li>
			<li><a href="//gaussianos.com/">Gaussianos</a></li>
			<li><a href="//pixelcoblog.com//">Pixel Co</a></li>
			<li><a href="//wwwhatsnew.com/">WWWhats new</a></li>
		</ul>

		<h4>Blog</h4>
		<ul>
			<li><a href="/categorias.html">Categorias</a></li>
			<!--<li><a href="/archivo.html">Archivo</a></li>-->
			<li><a href="/sobre-mi.html">Sobre mí</a></li>
		</ul>

		<h4>Redes sociales</h4>
		<ul>
			<li>
				<a href="//github.com/villamarin"><img src="/assets/images/icons/Github.png" alt="GitHub" /></a>
				<a href="//twitter.com/antvillamarin"><img src="/assets/images/icons/Twitter.png" alt="Twitter" /></a>
			</li>
		</ul>

		<h4>Suscr&iacute;bete</h4>
		<ul>
			<li><a href="//feeds.feedburner.com/AntonioVillamarin"><img src="http://feeds.feedburner.com/~fc/AntonioVillamarin?bg=FFFFFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></li>
		</ul>

