/* Imports
 ******************/

@import url('http://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,600,600italic|Open+Sans:400,400italic,700,700italic');
@import url('/assets/css/base.css');
@import url('/assets/css/scaffolding.css');
@import url('/assets/css/tabs.css');

/* Media Queries
*******************/

/* From 768px to 1200px */

@media only screen and (min-width: 768px) and (max-width: 999px) {}

/* 767px or low */

@media only screen and (max-width: 767px) {}

/* User style
 ******************/
 
a									{	color: #48F; }

a:hover, a:focus							{	color: #26F; }

#header {
	background-color: #F8F8F8;
	border-bottom: 1px solid #EEE;
	margin-bottom: 30px;
	padding-bottom: 50px;
	padding-top: 50px;
}
											
#header h1								{	padding: 0;
											margin: 0 }
											
#header img								{	margin-top: 10px; }

#body									{	margin-top: 10px;
											margin-bottom: 10px; }

#footer	 {
	background-color: #222;
	margin-top: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
}

#footer p {
	color: #FFF;
	margin-bottom: 20px;
	margin-top: 20px;
}
											
aside nav {
	background-color: #F8F8F8;
	border: 1px solid #EEE;
	padding: 20px;
	border-radius: 5px;
}

aside h4								{	margin-bottom: 10px; }

article h3								{	margin-bottom: 0; }

.pages {
	display: block;
}

.pages li {
	display: inline-block;
	margin:	 0;
	padding: 0;
}

.pages li a, .pages li span {
	background-color: #EEE;
	border-radius: 5px;
	border: 1px solid #DDD;
	display: inline-block;
	margin: 0;
	padding: 5px 10px;
}

.pages li a:hover {
	border: 1px solid #BBB;
}

.pages li span {
	color: #888;
}

.gsc-search-button {
	padding-top: 17px;
}

#___gcse_0 {
	padding-top: 20px;
}