<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} :: Un blog más de Internet.</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="viewport" content="width=device-width">
    
    <!-- If you want geolocalizate the website>
    <meta name=“geo.region” content=“United States” />
    <! -->
    
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icons/apple-touch-icon-144x144.png">
    
    <link rel="stylesheet" href="/assets/css/grid.css">
    
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
          
    <!-- Header -->
    <div class="super-container" id="header">
	<header class="row">
	  <hgroup class="col6">
		<img src="/assets/images/ant.onio.logo.png" class="float-left" />
		<h1 class="bold"><a href="/">Antonio Villamar&iacute;n</a></h1>
		<h6>ant.onio.org | Un blog m&aacute;s de internet</h6>
	  </hgroup>
        <div class="col6 right">
          {% include google_search.html %}
        </div>
	</header>
    </div>
    <!-- Section -->
    <article class="row">
     <!-- Main article -->
      <div class="col9">
        {{ content }}
      </div>
      <!-- Aside -->
      <aside class="col3">
        <nav>
          {% include links.html %}
        </nav>
      </aside>
    </article>
    <!-- Footer -->
    <div class="super-container" id="footer">
	<footer class="row">
	  <div class="col12" id="copyright">
		{% include copyright.html %}
	  </div>
	</footer>
    </div>

    {% include analytics.html %}
  </body>
</html>
