---
layout: gridcss
---
		<section>
			<header>
				<h3><a href="{{ post.url }}">{{ page.title }}</a></h3>
			</header>
			<article>
				{% if page.image != null %}
					<img src="/assets/images/{{ page.image }}" class="float-left" />
				{% endif %}
				{{ content }}
			</article>
			{% if page.comments %}
				<div id="disqus_thread"></div>    
				<script type="text/javascript">
					var disqus_shortname = 'villamarin';
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
				<a href="http://disqus.com" class="dsq-brlink">Comentarios gracias a <span class="logo-disqus">Disqus</span></a>
			 {% endif %}
			    		</section>
