---
layout: gridcss
---
		<section>
			<header>
				<h3><a href="{{ post.url }}">{{ page.title }}</a></h3>
				<p class="small">{{ page.date | date: "%d.%m.%Y" }} Por <span class="author vcard"><a rel="author"  class="url fn" href="http://ant.onio.org/sobre-mi.html">Antonio Villamar&iacute;n</a></span></p>
				<!-- Social like's -->
					<div>
						<script type="text/javascript">
						document.write( '<iframe src="http://www.facebook.com/plugins/like.php?href=' +
						encodeURI(window.location.href) +
						'&amp;layout=button_count&amp;show_faces=false&amp;width=120&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:120px; height:20px"></iframe>'
						);
						</script>
						<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="antvillamarin">Tweet</a>
						<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
						<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
						<g:plusone size="medium"></g:plusone>
					</div>
			</header>
			<article>
				{% if page.image != null %}
					<img src="/assets/images/{{ page.image }}" class="float-right" />
				{% endif %}
				{{ content }}
			</article>
			{% if page.comments != false %}
				<footer>
					<!-- Comentarios -->
					<div id="disqus_thread"></div>
					<script type="text/javascript">
						/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
						var disqus_shortname = 'villamarin'; // required: replace example with your forum shortname

						/* * * DON'T EDIT BELOW THIS LINE * * */
						(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
					</script>
					<noscript>
						Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
					</noscript>
					<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
				</footer>
   			 {% endif %}

		</section>
