---
layout: gridcss
---
		<section>
			<header>
				<h2><a href="{{ post.url }}">{{ page.title }}</a></h2>
				<p class="small">
					{{ page.date | date: "%d.%m.%Y" }}
					Por <span class="author vcard"><a rel="author"  class="url fn" href="http://ant.onio.org/sobre-mi.html">Antonio Villamar&iacute;n</a></span>
				</p>
				<!-- Social like's -->
					<div>
						<script type="text/javascript">
						document.write( '<iframe src="http://www.facebook.com/plugins/like.php?href=' +
						encodeURI(window.location.href) +
						'&amp;layout=button_count&amp;show_faces=false&amp;width=120&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:120px; height:20px"></iframe>'
						);
						</script>
						<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="antvillamarin">Tweet</a>
						<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
						<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
						<g:plusone size="medium"></g:plusone>
						<script type="text/javascript" src="http://meneame.net/api/check_url.js.php"></script>
					</div>
			</header>
			<article>
				{% if page.image != null %}
					<img src="/assets/images/{{ page.image }}" class="float-right" />
				{% endif %}
				{{ content }}
				<p class="right small">
					<br />
					-- Artículo etiquetado como: {% for tag in page.tags %} <strong>{{ tag }}</strong>{% if forloop.last != true %},{% endif %} {% endfor %}
					<br />
				</p>
			</article>
				<footer>
					<div class="center">
						<ul class="pages">
							{% if page.previous.id != nil %}
							<li><a href="{{ page.previous.url }}" class="small">&larr; {{ page.previous.title }}</a></li>
							{% endif %}
							{% if page.next.id != nil %}
							<li><a href="{{ page.next.url }}" class="small">{{ page.next.title }} &rarr;</a></li>
							{% endif %}
						</ul>
					</div>
					{% include disqus.html %}
				</footer>
		</section>
